@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;0,700;1,400&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
*{
    box-sizing: border-box;
}
.bg-pattern{
    height: 30%;
    position: absolute;
    top: 0;
    z-index: -1;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.wrap{
    margin-top: 20em;
    background-color: white;
    width: 90%;
    height: 35%;
    border-radius: .1rem;
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    -webkit-box-shadow: 5px 5px 15px -1px #000000; 
box-shadow: 5px 5px 15px -1px #000000;

}
.wrap p{
    font-size: .45rem;
    font-weight: 500;
    color: gray;
    text-transform: uppercase;
}

.wrap span{
    font-size: .7rem;
    font-weight: 700;
    color: black;
    /* margin-top: .5em; */
}
.input{
    justify-content: center;
    border-radius: .5rem;
    margin-right: -.5em;
    display: flex;
    width: 90%;
    max-width: 100rem;
    height: 3rem;
    border: none;
    /* height: 2.4rem; */
    border-radius: .5px solid gray;
}
.arrow{
    cursor: pointer;
    background-color: black;
padding: 1em;
border-top-right-radius: .5rem;
border-bottom-right-radius: .5rem;

}
.input:focus{
    outline: none;
}
form{
    margin: 0;
    background: url(./images/pattern-bg.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 100%;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#map{
    display: flex;
    width: 200%;
    height:80%;
    z-index: -1;
    position: absolute;
    bottom: 0;
    padding: 1em;
}

label{
    width: 100%;
    color: white;
    font-size:5vw;
    margin-bottom: .5em;
}

@media screen and (min-width: 768px){
    form{
        padding-top: .5em;
    }
    label{
        font-size: 2rem;
    }
    .bg-pattern{
        height: 30%;
        width: 100%;
    }
    .input{
        height: 3rem;
        width: 60%;
    }
    main{
        background-color: red;
    }
    .arrow{
        padding: 1em;
    }
    
    .wrap{
        margin-top: 12em;
        padding: 2em;
        width: unset;
        display: flex;
        flex-direction: row;
        height: 6rem;
        align-items: center;
        text-align: center;
        justify-self: center;
        /* font-size: 2rem; */
}
.wrap p{
    font-size: .4rem;
    font-weight: 500;
    color: gray;
    text-transform: uppercase;
}

.wrap span{
    font-size: .8rem;
    font-weight: 700;
    color: black;
    /* margin-top: .5em; */
}

.block{
    padding: 2em;
    /* border-right: 1px solid gray; */

}
#map{
    height: 100%;
}
}
.container-map{
    width: 100%;
    height: 100%;
    display: flex;
    
}